rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Reglas para la carpeta de publicaciones
    match /publications/{allPaths=**} {
      // Lectura: cualquiera puede leer las imágenes de las publicaciones.
      allow read;

      // Escritura: solo un usuario autenticado puede escribir,
      // y solo en su propia "subcarpeta" implícita si fuera necesario.
      // Limitamos el tamaño del archivo a 5MB.
      allow write: if request.auth != null &&
                      request.resource.size < 5 * 1024 * 1024 &&
                      request.resource.contentType.matches('image/.*|video/.*');
    }

    // Reglas para las imágenes de perfil de usuario
    match /profile-pictures/{userId}/{allPaths=**} {
        // Cualquiera puede leer las fotos de perfil
        allow read;
        // Solo el usuario dueño de esa "carpeta" puede escribir en ella
        allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Reglas para las imágenes de productos del marketplace
    match /product-images/{userId}/{allPaths=**} {
        allow read;
        allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Reglas para imágenes de chat
    match /chat-images/{conversationId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null; // Simplificado: cualquier usuario autenticado puede subir a un chat
    }
  }
}
